<h2>Por Capital</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <button *ngFor="let region of regions"
      class="btn mx-3"
      (click)="regionSearch(region)"
      [ngClass]="actualRegion == region ? 'btn-outline-primary': ''"
    >
      {{region}}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>

<div>
  <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
</div>
