.spinner-container {
  position:fixed;
  bottom: 15px;
  right: 15px;
  background-color: black;
  color: white;
  padding:5px 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.3);
}
span{
  margin-left: 5px;
}
